<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de login</title>
</head>

<body>
    <h1>Login</h1>
    <form action="/autenticar" method="post">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="Digite seu email aqui">
        <label for="password">Senha</label>
        <input type="text" name="password" id="password" placeholder="Digite sua senha aqui">

        <button type="submit">Entrar</button>
    </form>
</body>

</html>